handleClick() {
    this.setState((prevState, prevProps) => {
      console.log('Previous State:', prevState)
      console.log('Previous Props:', prevProps)
      return {
        introduction: this.state.introduction === "Hello!" ? "Goodbye!" : "Hello!",
        buttonText: this.state.buttonText === "Exit" ? "Enter" : "Exit",
      }
    }, () => {
    console.log('new state', this.state.introduction);
    console.log('new state', this.state.buttonText);
    }
    );
    console.log(this.state.introduction);
    console.log(this.state.buttonText);
  }
  