.ContainersInfoPage {
  opacity: 0;
  animation: fadeIn 3s forwards; 
}

.additionalContent h2 {
  font-size: 28px;
  margin-bottom: 32px;
}

.containerCards {
  display: flex;
  justify-content: center;
  margin-top: 65px;
  margin-bottom: 22px;
}

.containerCard {
  width: 300px !important;
  height: 600px;
  cursor: pointer;
  transform-style: preserve-3d;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  gap: 40px !important;
}

.cardInner {
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.containerCard:hover .cardInner {
  transform: rotateY(180deg);
}

.cardFront,
.cardBack {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  margin-top: 0px;
}

.cardFront {
  background-color: #000;
  color: orange;
  text-align: center;
}

.cardFront i {
  margin-bottom: 21px;
  color: orange;
}


.cardBack {
  background-color: orange;
  color: black;
  transform: rotateY(180deg);
}

.cardBack p{
  margin-top:21px;
  padding-top: 21px;
  margin-left:42px;
  margin-right:42px;
}

.cardBack a{
  margin-top:21px;
}

.selectButton {
  background-color: black;
  color: orange;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;
  transition: background-color 0.3s, transform 0.3s;
}

.selectButton:hover {
  background-color: white;
  color: black;
  transform: scale(1.05);
}

.features {
  display: flex;
  justify-content: space-around;
  margin: 60px 20px;
  gap: 10px;
  margin-bottom: 105px;
}

.feature {
  text-align: center;
  width: 200px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  margin-bottom: 24px;
  background-color: white;
}

.feature:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px black;
  background-color: black;
  color: orange;
}

.feature i{
  color: black;
}

.feature:hover i{
  transform: translateY(-1px);
  color: orange;
}

.feature-icon {
  font-size: 2rem;
  margin-bottom: 10px;
}

.feature h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.feature p {
  font-size: 1rem;
}

.additionalContent {
  margin: 0px;
  margin-top: 50px;
  text-align: center;
}

.additionalContent a{
  margin-top: 24px;
}

.additionalContent p {
  margin-right: 10%;
  margin-left: 10%;
}

.createContainerLink,
.networkLink {
  background-color: orange;
  color: black;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
  display: inline-block;
  margin-top: 10px;
}

.createContainerLink:hover,
.networkLink:hover {
  background-color: black;
  color: orange;
  transform: scale(1.05);
}


.publicCard,
.privateCard {
  background-color: black;
  transition: background-color 0.3s;
  transform-style: preserve-3d;
}

.publicCard {
  margin-bottom: 40px !important;
}

.privateCard {
  margin-bottom: 40px !important;
}

.publicCard:hover,
.privateCard:hover {
  background-color: orange;
}

.cardImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center right;
  border-radius: 10px;
  margin-top: 0px;

}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 400px) {
  .additionalContent h2 {
    font-size: 32px;
    margin-bottom: 22px;
    margin-top: 52px !important;
  }
  .containerCard {
    height: 700px;
  }

  .containerCard i {
    font-size: 40px;
  }

  .feature {
    margin-bottom: 38px;
  }
  
}  

@media (min-width: 576px) {

  .feature {
    margin-bottom: 0px;
  }

  .containerCards {
    margin-top: 85px;
  }
  
}  

@media (min-width: 767px) {
  .containerCard {
    height: 600px;
  }
  .feature {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  
}  

@media (min-width: 990px) {
  .additionalContent h2 {
    font-size: 36px;
    margin-bottom: 32px;
    margin-top: 63px !important;
  }

  .containerCards {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  
}  

@media (min-width: 1700px) {
  .containerCards {
    margin-top: 90px;
  }
  .features {
    margin-bottom: 140px;
  }
  
}  
