.Footer {
    bottom: 0px;
    z-index:1;
    width: 100%;
    background-color: black !important;
    /* grid-row: 3;
    grid-column: 1 / span 4;
    display: flex; */
    align-items: center;
    justify-content: center;
    padding: 10px;  
}

