.Footer {
  bottom: 0;
  width: 100%;
  background-color: black !important;
  align-items: center;
  justify-content: center;
  color: orange !important;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.Spinner {
  animation: spin 8s infinite linear;
  border-radius: 40%;
}

@media (max-width: 576px) { 
  .Footer {
    padding: 20px 0; 
    font-size: 0.8rem; 
  }

  .Footer img {
    height: 90px;
    width: 80px;
    margin-bottom: 12px;
  }
}

@media (min-width: 576px) {
  .Footer {
    font-size: 1.2rem;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .Contact i {
    font-size: large !important;
  }

  .Social i {
    font-size: xx-large;
  }

  .Footer img {
    margin-bottom: 30px;
  }
}

.Footer .Button {
  position: absolute;
  margin-top: 10px;
  font-size: medium;
}

.Footer button {
  padding: 0;
  margin: 0;
  vertical-align: top;
}

.Footer i {
  color: white !important;
}

.Footer i:hover {
  box-shadow: 0 0 5px orange;
  color: orange !important;
  border-radius: 50%;
}


.Footer img {
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 10px;
  height: 60px;
  width: 50px;
}

.Footer h5 {
  margin-bottom: 15px;
  color: orange;
}

.Footer p {
  margin-bottom: 5px;
  color: orange;
}

.Contact i {
  font-size: small;
}

.LogoButtonContainer .btn {
  top:0;
}