.DropdownItem {
  display: block;
  padding: 0px;
}

.Absolute {
  position: absolute;
  right: 0;
  top:0;
  z-index: 99;
}
.DropdownItem i{
color: orange !important
}

.DropdownLeft {
  right: 0; 
}