.NavBar {
  background-color: black;
  color: orange;
  border-bottom: 4px solid orange;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

.NavLink {
  padding: 5px;
}

.NavLink span {
  color: orange;
}

.NavLink i {
  color: white;
}

.Brand img {
  height: 20px !important;
}

#profile-nav {
  padding: 0 !important;
  margin: 0 !important;
}

.Active i {
  color: orange;
}

.Active i:hover {
  color: orange;
}

.Active span {
  color: orange;
}

.NavLink:hover i {
  color: orange;
}

.ProfileLink{
  margin-top: 2px;
}


.ProfileLink:hover img {
  box-shadow: 0 0 5px orange; 
}

.NavLink #profile-pic{
 border: 4px orange solid;
}

@media (max-width: 768px) {
  .logo-home {
    padding-left: 50px !important;
  }
}