.NavBar {
  background-color: black;
  color: orange;
  border-bottom: 4px solid orange;
  padding: 0px;
  margin: 0px;
}

.NavLink {
  padding: 5px;
}

.Active i {
  color: orange;
}

.Active i:hover {
  color: orange;
}

.Active span {
  color: orange;
}

.NavLink:hover i {
  color: orange;
}

.ProfileLink{
  margin-top: 2px;
}


.ProfileLink:hover img {
  box-shadow: 0 0 5px orange; /* Adjust shadow properties as needed */
}

