/* 
.ContainerList {
  margin-left: 10px;
  margin-right: 10px;
} */
.ProfileContainer {
  padding: 5px 20px;
}

.ProfileContainer p {
  margin: 0px;
}

.ContainerList div{
  padding: 0px;
  font-size: smaller;
}

.SortRow {
  margin-left: 0px;
  margin-right: 0px;
}

.SortRow h4 {
  margin-top: 4px;
  margin-bottom: 0px !important;
  margin-left: 10px;
  margin-right: 5px;
  color: black !important;
  font-weight: 500;
}

.ActiveSortOption div{
  padding: 0px;
  border: 1px solid orange;
}

.ActiveSortOption i {
  margin-bottom: 10px;
  color: orange;
  font-size: 20px;
}

.SortIcon {
  margin-top: 7px;
  /* margin-left: 5px; */
  color: black;
}

.SortIcon:hover {
  color: orange;
}



.SearchBar input {
  border-radius: 20px;
  color:black;
  background-color: white;
  border: 2px solid black;
  padding-left: 40px;
  margin-left: 5px;
}



.SortRow {
  margin-bottom: 4px;
}



.SortingDropdown {
    /* position: absolute; */
    top: 42%;
    left: 0;
    z-index: 1000;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 0;
    list-style: none;
    /* max-height: 400px;  */
    /* overflow-y: auto;  */
    /* min-width: 400px; */
  }
  
  .SortingDropdown:hover {
    background-color: #f8f8f8;
  }
  
  .SortOption {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .SortOption i {
    color: black;
    font-size: 12px; 
  }
  
  .SortOption:hover {
    background-color: #e8e8e8;
  }
  
  .ActiveSortOption {
    font-weight: bold; 
  }

/* SEARCH BAR */
.SearchRow {
  margin-top: 10px;
  margin-left: 3px;
  margin-right: 7px;
  margin-bottom: 10px;
}


.SearchRow input {
  border-radius: 20px;
  color:black;
  background-color: white;
  color: black;
  border: 2px solid rgba(255, 166, 0, 0.913);
  padding-left: 40px;
  margin-left: 5px;
}

.SearchRow input::placeholder{
  color:black;
  margin-left: 5px;
}

.SearchIcon {
  position: absolute;
  font-size: 1.2rem;
  padding: 1px;
  padding-left: 15px;
  padding-right: 8px;
  padding-top: 11px;
  color: black;
}

.SearchIcon:hover {
  cursor: default;
  color: rgb(57, 57, 57);
}

.SearchBar input:focus {
  outline: none;
  box-shadow: none;
  border: 2px solid black;
  background-color: rgb(255, 166, 0) !important;
  color:black
}

/* SCROLLABLE CONTAINER */
.ScrollableContainer {
  min-height: 100vh;
  overflow-y: auto; 
}
.InfinitePosts {
  width: 98%;
  margin: 10px auto;
}

/* MOBILE NAVIGATION */
.MobileNavIcon {
  position: fixed;
  bottom: 5px; 
  right: 4px; 
  z-index: 999;
  padding: 0;
  border: none;
  color: orange !important;
  background: transparent;
}

.MobileNavIcon i {
  color: orange !important;
  padding: 0px;
  background-color: black !important;
  border-radius: 50%;
}

.LoadFadeIn {
  opacity: 0;
  animation: fadeIn 3s forwards; 
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* DEVICES VIEWS */
@media (min-width: 400px) {
  .SearchRow {
    margin-bottom: 20px;
  }
  .SortRow {
    margin-top: 30px;
  }
  .SearchBarContainer {
    margin-bottom: 30px;
  }
  .ContainerList div{
    padding: 1px;
    background-color: white;
    font-size: medium;
  }
}

@media (min-width: 767px) {
  .SortRow {
    margin-top: 30px;
    margin-bottom: 15px;
  }
}

@media (min-width: 992px) {
  .SortRow {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .SearchRow {
    margin-bottom: 25px;
    margin-right: 7px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .SortRow h4 {
    font-size: 22px !important;
  }
}


@media (min-width: 1400px) {
  .SearchRow {
    margin-bottom: 35px;
  }
}