.sidebar {
    grid-row: 2;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    text-align: left;
    padding-left: 40px;
    padding: 20px;
    font-size: 16px;
    font-size: smaller;
    border-right: 1px rgb(166, 166, 166) solid;
}

.sidebar > h5 {
    background-color: lightgrey;
    color: #445261;
    border: white solid 1px;
}

.sidebar > a {
    background-color: rgba(247, 242, 242, 0.77);
    color: black;
    border: white solid 1px;
    padding: 10px 0;
    padding-left: 10px;
    margin-left: 30px;
    border-bottom: 1px solid rgb(133, 133, 133);
    font-weight: 400;
}

.sidebar > a:hover{
    color: black;
    background-color: orange;
    border: white solid 1px;
}

.sidebar > a > i{
    color: black;
    border-radius: 50%;
    font-size: large;
    text-shadow: 1px 0px 0px silver;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    border: 1px silver solid;
    margin-right: 10px;
}

#sidebar i:hover{
    color: orange;
    background-color: black;
    border: white solid 1px;
}
/* Add this to your Sidebar.module.css */
.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;    
  }

.section > div > a > i:hover {
    color:black;
}

.section > div > a > i {
    font-size: x-large;
}
  
.icons {
    margin-left: auto; /* Push the icon to the right */
    font-size: 24px;
    color: #000; /* Initial color of the icon */
    transition: color 0.3s; /* Smooth color transition */
}

.icons:hover {
    color: orange; /* New color on hover (e.g., orange) */
}

.beat:hover{
    color:black;
}
  
@keyframes beat {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .beat {
    animation: beat 1s infinite;
  }