.sidebar {
    grid-row: 2;
    grid-column: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px 0;
    text-align: left;
    padding-left: 40px;
    padding: 20px;
    font-size: medium;
    font-family: 500;
    margin-top: 20px;
}

.sidebar h5 {
    margin-bottom: 18px;
    font-weight: bold;
}

.sidebar hr {
  background-color: rgb(134, 134, 134) !important;}

.sidebar > a {
    background-color:white;
    color: black;
    border: gray solid 1px;
    padding: 10px 0;
    padding-left: 10px;
    /* margin-left: 10px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar > a:hover{
    color: black;
    background-color: orange;
    border: white solid 1px;
}

.sidebar > a > i{
    color: black;
    border-radius: 50%;
    font-size: 14px;
    text-shadow: 1px 0px 0px silver;
    background-color: transparent;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    border: 1px orange solid;
    margin-left: auto;
    margin-right: 5px;
}

.sidebar a:hover > i {
    font-size: medium; /* Set the font-size on hover */
    border: 1px black solid;
    background-color: black;
    text-shadow: 1px 0px 0px black;
    color: orange;
  }

.sidebar a:hover > span {
font-size: 14px; /* Set the font-size on hover */
font-weight: bold;
}


#sidebar i:hover{
    color: orange;
    background-color: black;
    border: white solid 1px;
}


.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;    
  }

.section > div > a > i:hover {
    color:black;
}

.section > div > a > i {
    font-size: x-large;
}
  
.icons {
    margin-left: auto; /* Push the icon to the right */
    font-size: 24px;
    color: #000; /* Initial color of the icon */
    transition: color 0.3s; /* Smooth color transition */
}

.icons:hover {
    color: orange; /* New color on hover (e.g., orange) */
}



.beat:hover{
    color:black;
}
  
@keyframes beat {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .beat {
    animation: beat 1s infinite;
    margin-bottom: 24px;
  }



  .NavLink.Active {
    background-color: orange; 
    font-weight: bold;
  }

  .NavLink.Active i{
    background-color: black; 
    text-shadow: 1px 0px 0px black;
    color: orange;
  }

  @media (min-width: 992px) {
    .sidebar {
      border-right: 1px rgb(132, 132, 131) solid;
      border-bottom: 1px rgb(132, 132, 131) solid;
      font-size: small;
    }
  }


  