.Row {
  min-height: 100vh;
  opacity: 0;
  animation: fadeIn 1.5s forwards; 
}

.Input {
  background: #ffffff;
  border: 1px solid #f0f1f9;
  box-sizing: border-box;
  border-radius: 5px; /* Rounded edges */
  color: rgb(203, 133, 2);
  text-align: center;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* 3D effect */
}

.Container {
  padding: 30px 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* 3D effect for the container */
}

.Header {
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: black;
  margin-bottom: 40px;
  margin-top: 20px;
}

.Link {
  text-decoration: none;
  text-align: center;
  display: block;
  margin: auto;
}

.Link span {
  color: orange;
}

.Container {
  padding: 30px 10px;
}

.SignInCol {
  height: 320px;
}

.SignUpCol {
  height: 375px;
}

/* Adjusted CSS for Signup Button */
.SignUpCol button {
  background-color: black !important; /* Black background color */
  color: orange !important; /* Orange text color */
  width: 60%;
  margin-top: 30px; /* 20px margin-top */
  border: none; /* Remove border */
  margin-bottom: 10px;
  margin-left: auto !important;
  margin-right: auto !important;
  display: block;
  font-size: medium;
  font-weight: bold;
  padding: 3px;
}

.SignUpCol button:hover {
  background-color: orange !important; /* Orange background color on hover */
  color: black !important; /* Black text color on hover */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Media query for screens larger than or equal to 768px width */
@media (min-width: 768px) {
  .SignUpCol button {
    width: 24%; /* Reduce button width to 30% for larger screens */
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
  }
  .SignUpCol input {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    margin-bottom: 50px !important;
  }
}

.Input:focus {
  border: 1px solid orange; /* Change the border color to orange on focus */
  box-shadow: 0px 0px 10px rgba(255, 165, 0, 0.6); /* Change the box shadow color to orange on focus */
}

.SignUpCol button:focus {
  border-color: black; /* Change the border color to orange on focus */
  box-shadow: 0px 0px 10px black; /* Change the box shadow color to orange on focus */
}