.Row {
  min-height: 94vh;
  opacity: 0;
  animation: fadeIn 1.5s forwards; 
}

.Form {
  padding-top: 21px !important;
  padding-bottom: 21px !important;
}

.Form span {
  text-decoration: underline;
}

.Form a {
  padding-bottom: 10px;
} 

.Input {
  background: #ffffff;
  border: 1px solid #f0f1f9;
  box-sizing: border-box;
  border-radius: 5px; 
  color: rgb(227, 148, 1);
  text-align: center;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
}

.Container {
  padding: 30px 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.Header {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: black;
  margin-bottom: 50px;
  margin-top: 30px;
}

.Link {
  text-decoration: none;
  text-align: center;
  display: block;
  margin: auto;
}

.Link span {
  color: orange;
}

.Container {
  padding: 30px 10px;
}

.SignInCol {
  height: 320px;
}

.SignUpCol {
  height: 375px;
}

.SignUpCol button {
  background-color: black !important;
  color: orange !important;
  width: 60%;
  border: none; 
  margin-bottom: 11px;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 42px;
  display: block;
  font-size: medium;
  font-weight: bold;
  padding: 3px;
}

.SignUpCol button:hover {
  background-color: orange !important; 
  color: black !important; 
}

.Input:focus {
  border: 1px solid orange; 
  box-shadow: 0px 0px 10px rgba(255, 165, 0, 0.6); 
}

.SignUpCol button:focus {
  border-color: black;
  box-shadow: 0px 0px 10px black; 
}

@keyframes fadeIn {

  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 450px) {

  .Header {
    font-size: 27px;
    text-transform: uppercase;
    margin-bottom: 60px;
    margin-top: 40px;
  }

  .SignUpCol input {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .SignUpCol button {
    width: 44%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
  }

  .Form a {
    padding-bottom: 20px;
  }
}

@media (min-width: 768px) {

  .SignUpCol button {
    width: 24%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
  }

  .SignUpCol input {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    margin-bottom: 60px !important;
    margin-top: 50px !important;
  }
}

@media (min-width: 990px) {

  .SignUpCol button {
    margin-top: 50px;
  }

  .Header {
    font-size: 32px;
  }
}

@media (min-width: 1400px) {
  
  .SignUpCol input {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .SignUpCol button {
    width: 21%;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .Header {
    font-size: 34px;
  }
}